.badge {
    text-transform: uppercase;
}

.badge-primary {
    color: $primary;
    background-color: lighten($primary, 30);
}

.badge-success {
    color: $success;
    background-color: lighten($success, 35);
}

.badge-danger {
    color: $danger;
    background-color: lighten($danger, 30);
}

.badge-info {
    color: $info;
    background-color: lighten($info, 30);
}

.badge-warning {
    color: $warning;
    background-color: lighten($warning, 25);
}