.btn {
    text-transform: uppercase;
    font-weight: 600;
}

// primary gradient button
.primaryGradBtn {
    color: $white;
    @extend .bg-primary-gradient;
    border: 0;
}

// success gradient button
.successGradBtn {
    color: $white;
    @extend .bg-success-gradient;
    border: 0;
}

// warning gradient button
.warningGradBtn {
    color: $white;
    @extend .bg-warning-gradient;
    border: 0;
}

// danger gradient button
.dangerGradBtn {
    color: $white;
    @extend .bg-danger-gradient;
    border: 0;
}

// info gradient button
.infoGradBtn {
    color: $white;
    @extend .bg-info-gradient;
    border: 0;
}

// circle buttons
@mixin circle_Btn($ht, $wd) {
    width: $wd;
    height: $ht;
    border-radius: 50% !important;
    padding: 0 !important;
    // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.circleBtn80 {
    @include circle_Btn(80px, 80px);
    font-size: 34px;
}

.circleBtn70 {
    @include circle_Btn(70px, 70px);
    font-size: 30px;
}

.circleBtn60 {
    @include circle_Btn(60px, 60px);
    font-size: 26px;
}

.circleBtn50 {
    @include circle_Btn(50px, 50px);
    font-size: 22px;
}

.circleBtn40 {
    @include circle_Btn(40px, 40px);
    font-size: 18px;
}

.circleBtn36 {
    @include circle_Btn(36px, 36px);
    font-size: 16px;
}

.circleBtn32 {
    @include circle_Btn(32px, 32px);
    font-size: 16px;
}

.circleBtn25 {
    @include circle_Btn(25px, 25px);
    font-size: 12px;
}

.circleBtn20 {
    @include circle_Btn(20px, 20px);
    font-size: 14px;
}

.circleBtn15 {
    @include circle_Btn(15px, 15px);
    font-size: 14px;
}

.circleBtn10 {
    @include circle_Btn(10px, 10px);
    font-size: 14px;
}