.modal-content {
    border: 0 none;
    .modal-header {
        background-color: $primary;
        color: $white;
        button.close {
            i {
                color: rgba(255, 255, 255, 0.55);
                text-shadow: none;
                font-size: 22px;
            }
            &:focus {
                outline: 0 none;
            }
        }
    }
}

// modals for alert, submit, success etc messages
.messagesModals {
    border: 0 none;
    .modal-header {
        background-color: $white;
        border-bottom: 0 none;
        button.close {
            i {
                color: rgba(0, 0, 0, 0.55);
                text-shadow: none;
                font-size: 22px;
            }
            &:focus {
                outline: 0 none;
            }
        }
    }
    .modal-body {
        img {
            max-width: 200px;
            margin-bottom: 15px;
            margin-top: -30px;
        }
        h5 {
            margin: 0 auto;
            // max-width: 70%;
            line-height: 26px;
        }
    }
    .modal-footer {
        border-top: 0 none;
        padding-top: 0px;
    }
}

.modal.fade .modal-bottom,
.modal.fade .modal-left,
.modal.fade .modal-right,
.modal.fade .modal-top {
    position: fixed;
    z-index: 1055;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    max-width: 100%
}

.modal.fade .modal-right {
    left: auto !important;
    transform: translate3d(100%, 0, 0);
    transition: transform .3s cubic-bezier(.25, .8, .25, 1)
}

.modal.fade.show .modal-bottom,
.modal.fade.show .modal-left,
.modal.fade.show .modal-right,
.modal.fade.show .modal-top {
    transform: translate3d(0, 0, 0)
}

// // side modals
// .modal-left .modal-dialog,
// .modal-top .modal-dialog,
// .modal-bottom .modal-dialog,
// .modal-right .modal-dialog {
//     position: fixed;
//     z-index: 1055;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: 0;
//     max-width: 100%;
//     width: 330px;
// }
// // right modal
// .modal.fade.modal-right .modal-dialog {
//     left: auto;
//     animation-name: rightModalAnim;
//     animation-duration: 0.3s;
//     animation-timing-function: cubic-bezier(.25, .8, .25, 1);
// }
// .modal.fade.modal-right .modal-dialog .modal-content {
//     height: 100%;
//     border-radius: 0px;
// }
// @keyframes rightModalAnim {
//     0% {
//         transform: translate3d(100%, 0, 0);
//     }
//     100% {
//         transform: translate3d(0, 0, 0);
//     }
// }
// // left modal
// .modal.fade.modal-left .modal-dialog {
//     right: auto;
//     animation-name: leftModalAnim;
//     animation-duration: 0.3s;
//     animation-timing-function: cubic-bezier(.25, .8, .25, 1);
// }
// .modal.fade.modal-left .modal-dialog .modal-content {
//     height: 100%;
//     border-radius: 0px;
// }
// @keyframes leftModalAnim {
//     0% {
//         transform: translate3d(0, 0, 100%);
//     }
//     100% {
//         transform: translate3d(0, 0, 0);
//     }
// }