.nav-pills {
    li {
        margin-right: 10px;
        .nav-link {
            background-color: $light;
            padding: 0.23rem 0.65rem;
            line-height: 1.6rem;
            text-transform: uppercase;
            font-weight: 600;
            color: $black;
            &.active {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                padding: 0.23rem 0.65rem;
            }
        }
    }
}

.nav-pills-bgwhite {
    li {
        margin-right: 10px;
        .nav-link {
            background-color: $white;
            padding: 0.23rem 0.65rem;
            line-height: 1.6rem;
            text-transform: uppercase;
            font-weight: 600;
            color: $black;
            &.active {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                padding: 0.23rem 0.65rem;
            }
        }
    }
}

.nav-tabs {
    padding-bottom: 2px;
    li {
        margin-right: 0px;
        .nav-link {
            background-color: $light;
            padding: 0.23rem 0.65rem;
            border: 0 none;
            line-height: 1.6rem;
            text-transform: uppercase;
            font-weight: 600;
            &.active {
                padding: 0.23rem 0.65rem;
                background-color: $primary;
                color: $white;
                border: 0 none;
            }
        }
    }
}