.notificationItem {
    &:hover {
        background-color: $light;
        & .closeNotification {
            opacity: 1;
            visibility: visible;
        }
    }
    .notificatinofUser {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        font-size: 16px;
        border: 3px solid $white;
    }
    .closeNotification {
        opacity: 0;
        visibility: hidden;
    }
    .notificationIndicator {
        width: 15px;
        height: 15px;
        background-color: $success;
        border-radius: 50%;
        display: block;
        border: 2px solid #ddd;
    }
}