/* Checkbox does not need to be displayed */

#chart-checkbox {
    display: none;
}


/* Color labels green by default */

.chartSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    input+span {
        color: $primary;
    }
    input:checked+span {
        color: $black;
    }
    input:checked+*+*+span {
        color: $primary;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 14px;
        margin: 0 8px;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 11px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 30px;
            &:before {
                border-radius: 50%;
            }
        }
    }
    input:checked+span+.switch .slider {
        background-color: $primary
    }
    input:focus+span+.switch .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked+span+.switch .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }
}

.chartSwitchSmall {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 10px;
    }
    input+span {
        color: $primary;
    }
    input:checked+span {
        color: $black;
    }
    input:checked+*+*+span {
        color: $primary;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 26px;
        height: 12px;
        margin: 0 6px;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary;
        -webkit-transition: .4s;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 10px;
            width: 10px;
            left: 1px;
            bottom: 1px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 30px;
            &:before {
                border-radius: 50%;
            }
        }
    }
    input:checked+span+.switch .slider {
        background-color: $primary
    }
    input:focus+span+.switch .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked+span+.switch .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }
}

//  .chartSwitch input+*+*+span {
//      color: $black;
//  }

/* Color labels when input is checked */


/* Rounded sliders */